body {
  font-family: "Noto Sans Thai", sans-serif;
  background-color: #f5f5f5;
  color: #222;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #8866e1, #5e72e4);
  color: white;
  padding: 0.7rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.nav-right button,
.nav-right .user-icon {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
#langToggle {
  width: 50px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  font-weight: 600;
}
.nav-right button:hover,
.nav-right .user-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

/* Step Indicator */
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}
.step {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: white;
  color: #8866e1;
}
.step.active {
  background: #8866e1;
  color: white;
}
.step.done {
  background:  #ba9cff;
  color: #8866e1;
}
.line {
  width: 50px;
  height: 2px;
  background: #a78ee6;
}

/* Content */
.container {
  width: 750px;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 2rem 2.5rem;
  background: white;
}

.summary-box {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}

.summary-box p {
  margin: 0.6rem 0;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.result-table th,
.result-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.5rem;
}

/* Buttons */
.btn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.8rem;
  gap: 0.8rem;
}

.back-btn,
.print-btn,
.confirm-btn {
  border: none;
  border-radius: 6px;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-btn {
  background: transparent;
  color: #0077b6;
  border: 2px solid #0077b6;
}
.back-btn:hover {
  background: #0077b6;
  color: white;
}

.print-btn {
  background: #90e0ef;
  color: #023e8a;
}
.print-btn:hover {
  background: #48cae4;
}

.confirm-btn {
  background: #0077b6;
  color: white;
}
.confirm-btn:hover {
  background: #005f8a;
}
