<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <title>ยืนยันการตรวจ - ขั้นตอนที่ 1</title>
  <link rel="stylesheet" href="./css/verify_step1.css" />
  <link rel="stylesheet" href="./css/darkmode.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
  <!-- Navbar -->
  <header class="page-header">
        <h2>Dashboard</h2>
        <div class="header-buttons">
          <button id="themeToggle" class="icon-btn">
            <i class="fa fa-moon"></i>
          </button>
          <button id="langToggle" class="lang-btn">TH</button>

          <!-- Dropdown -->
          <div class="dropdown">
            <button class="dropbtn" id="dropdownBtn">
              <i class="fa fa-user-circle"></i> Admin <i class="fa fa-caret-down"></i>
            </button>
            <div id="dropdownMenu" class="dropdown-content">
              <a href="#" id="settingsBtn">Settings</a>
              <a href="#">About</a>
              <a href="#" id="logout">Logout</a>
            </div>
          </div>
        </div>
      </header>

  <!-- Progress bar -->
  <section class="steps">
    <div class="step active">1</div>
    <div class="line"></div>
    <div class="step">2</div>
    <div class="line"></div>
    <div class="step">3</div>
  </section>

  <!-- Content -->
  <main class="container">
    <h3>ประเภทที่จะตรวจ</h3>

    <div class="patient-box" id="patient-info">
      <!-- จะถูกเติมข้อมูลผู้ป่วยจาก JS -->
    </div>

    <div class="dna-section">
      <label for="dnaType">DNA Type:</label>
      <select id="dnaType">
        <option value="" disabled selected>เลือกประเภท DNA</option>
        <option value="CYP2D6">CYP2D6</option>
        <option value="CYP2C9">CYP2C9</option>
        <option value="CYP2C19">CYP2C19</option>
        <option value="VKORC1">VKORC1</option>
        <option value="TPMP">TPMP</option>
        <option value="3A5">CYP3A5</option>
      </select>
    </div>

   <div class="btn-area">
      <button class="back-btn">Back</button>

      <button class="next-btn">Next</button>
       
   </div>

  </main>

  <script src="./js/verify_step1.js"></script>
  <script src="./js/darkmode.js"></script>
</body>
</html>
